:root {
    --bg: #203047;
    --blue: #3B6DB2;
    --orange: #EB8432;
    --text: white;
    --text-XL: 80px; 
    --text-L: 50px; 
    --text-S: 30px; 
    --font-fam: verdana;
    /* --font-fam: "times new roman"; */
    /* --font-fam: lato; */
    /* --font-fam: roboto; */
    /* --font-fam: sans-serif; */
}  

body {
    font-family: var(--font-fam);
    color: var(--text);
    background-color: var(--bg);
    margin: 0;
    
}

#app {
    display: flex;
    justify-content: center; /*space-around;*/
    padding-top: 20px;
}

.fullscreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* h1 {
    font-size: 60px;
} */
h2 {
    /* font-size: 40px; */
    color: var(--orange);
    font-size: var(--text-L);
}


.col-left {
    /* width: 50vw; */
    align-items: center;
    text-align: center;
    margin-right: 80px;
}
.col {
    align-items: center;
    text-align: center;
}
.align-center {
    text-align: center;
}
.no-margin {
    margin: 0;
}

button {
    /* height: 30px; */
    /* width: 80px; */
    padding: 20px 60px;
    margin: 5px;
    background-color: var(--blue);
    color: var(--text);
    font-size: var(--text-S);
    font-family: var(--font-fam);
    border-radius: 15px;
    border-width: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

button:active {
    background-color: var(--text);
    color: var(--blue);
}

.button-hollow {
    background-color: var(--bg);
    border: var(--text) solid 2px;
}

my-keypad button {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    font-size: var(--text-L);
    font-weight: bold;
    margin: 6px 4px;
    padding: 0px;
}

#input-value {
    height: 90px;
    width: 450px;
    border: 3px solid var(--orange);
    border-radius: 15px;
    padding: 15px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--text-XL);
    display: inline-block;
}
#input-unit {
    height: 90px;
    width: 0px;
    display: inline-block;
    /* width: 0px; */
    position: relative;
    right: 130px;
    bottom: 18px;
    
    align-items: flex-end;
} 
#input-unit h2 {
    width: 100px;
    text-align: right;
}

/*** Progress Bar ***/

#progress-bar {
    padding-top: 10px;
    height: 80px;
    display: flex;
    text-align: center; 
}

#progress-bar-wrapper {
    display: flex;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.pb {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.pb-stage {
    width: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}
.pb img {
    /* height: 20px; */
    padding: 10px;
    border-radius: 50%;
    background-color: var(--blue);
    position: relative;
    bottom: 54px;
    /* filter: opacity(0); */
}
.pb p {
    height: 34px;
    width: 160px;
    position: relative;
    bottom: 60px;
    right: 54px;
    font-size: var(--text-S);
    margin: 10px 0;
}
.pb a {
    color: var(--text);
    text-decoration: none;
}
.pb-done img, .pb-current img {
    background-color: var(--orange);
}
.pb-current {
    height: 50px;
    /* width: 30px; */
    padding: 5px;
    border-radius: 50%;
    border: solid var(--orange) 5px;
    margin-top: 0px;
}
.pb-line {
    height: 5px;
    width: 150px;
    background-color: var(--blue);
    position: relative;
    top: 34px;
}
.pb-line-done {
    background-color: var(--orange);
}
.pb-line-short {
    width: 140px;
}
.pb-left-margin {
    margin-left: 10px;
}
.pb-right-margin {
    margin-right: 10px;
}

/*** Screening Page ***/
.section {
    border: var(--orange) solid 2px;
    border-radius: 15px;
    padding: 30px;
    margin: 0 10px;
    flex: 1 1 0;
    align-items: center;
    text-align: center;
}