:root {
    --bg: #203047;
    --blue: #3B6DB2;
    --orange: #EB8432;
    --text: white;
}  

body {
    font-family: sans-serif;
    color: var(--text);
    background-color: var(--bg);
    margin: 0;
    
}

#app {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
    color: var(--orange);
}

#progress-bar {
    display: flex;
    text-align: center; 
}

.col-left {
    width: 400px;
    align-items: center;
    text-align: center;
}
.align-center {
    text-align: center;
}

button {
    height: 40px;
    width: 100px;
    background-color: var(--blue);
    color: var(--text);
    font-size: 20px;
    border-radius: 15px;
    border-width: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

button:active {
    background-color: var(--text);
    color: var(--blue);
}

.button-hollow {
    background-color: var(--bg);
    border: var(--text) solid 2px;
}

my-keypad button {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    
    font-size: 30px;
    font-weight: 800;
    margin: 8px 6px;
}

#input-value {
    height: 70px;
    width: 260px;
    border: 3px solid var(--orange);
    border-radius: 10px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}


#progress-bar-wrapper {
    display: flex;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.pb {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.pb-stage {
    width: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}
.pb img {
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--blue);
}
.pb p {
    width: 100%;
}
.pb-done img, .pb-current img {
    background-color: var(--orange);
}
.pb-current {
    height: 60px;
    width: 60px;
    padding: 5px;
    border-radius: 50%;
    border: solid var(--orange) 5px;
    margin-top: 0px;
}
.pb-line {
    height: 5px;
    width: 120px;
    background-color: var(--blue);
    position: relative;
    top: 38px;
}
.pb-line-done {
    background-color: var(--orange);
}