@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700&display=swap');

:root {
    --bg: #203047;
    --blue: #3B6DB2;
    --secondary: #26497A;
    --orange: #EB8432;
    --text: white;
    --green: rgb(51, 248, 51);
    --red: rgb(248, 51, 100);
    --text-XL: 80px; 
    --text-L: 50px; 
    --text-M: 40px; 
    --text-S: 30px; 
    --text-XS: 20px; 
    --font-fam: 'Montserrat';
}  

body {
    font-family: var(--font-fam);
    color: var(--text);
    background-color: var(--bg);
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#app {
    height: 100%;
    display: flex;
    justify-content: center; 
    padding: 20px 50px;
    align-items: center;
}

.fullscreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: var(--text-XL);
}
h2 {
    color: var(--orange);
    font-size: var(--text-L);
}
h3 {
    font-size: var(--text-M);
}


.col-left {
    align-items: center;
    text-align: center;
    margin-right: 30px;
}
.col-right {
    width: 470px;
}
.col {
    align-items: center;
    text-align: center;
}
.align-center {
    text-align: center;
}
.align-left {
    text-align: left !important;
}
.no-margin {
    margin: 0;
}
.low-z {
    z-index: -1;
}
.inline {
    display: inline-block;
}

button {
    width: max-content;
    padding: 20px 60px;
    margin: 5px 15px;
    background-color: var(--blue);
    color: var(--text);
    font-size: var(--text-M);
    font-family: var(--font-fam);
    border-radius: 15px;
    border-width: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

button:active {
    background-color: var(--text);
    color: var(--blue);
}

.button-hollow {
    background-color: var(--bg);
    border: var(--text) solid 2px;
    padding: 18px 60px;
}
.button-secondary {
    background-color: var(--secondary);
    padding: 20px 60px;
}
.button-grey {
    background-color: var(--bg);
    border: var(--text) solid 2px;
    opacity: 40%;
    padding: 20px 60px;
    box-shadow: none;
    pointer-events: none;
}

my-keypad > div {
   width: max-content;
}

my-keypad button {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    font-size: var(--text-L);
    font-weight: bold;
    margin: 6px 4px;
    padding: 0px;
}

#input-value {
    height: 90px;
    width: 500px;
    border: 3px solid var(--orange);
    border-radius: 15px;
    padding: 15px;
    margin-top: 10px;
    margin-left: 75px;
    margin-right: 75px;
    font-size: var(--text-XL);
    display: inline-block;
}
#input-unit {
    height: 90px;
    width: 0px;
    display: inline-block;
    position: relative;
    right: 250px;
    align-items: flex-end;
} 
#input-unit h2 {
    width: 150px;
    text-align: right;
}

/*** Progress Bar ***/

#progress-bar {
    padding-top: 10px;
    height: 80px;
    display: flex;
    text-align: center; 
}

#progress-bar-wrapper {
    display: flex;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    padding-left: 130px;
}
.pb {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.pb-stage {
    width: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}
.pb img {
    padding: 10px;
    border-radius: 50%;
    background-color: var(--blue);
    position: relative;
    bottom: 54px;
}
.pb p {
    height: 34px;
    width: 160px;
    position: relative;
    bottom: 60px;
    right: 54px;
    font-size: var(--text-S);
    margin: 10px 0;
}
.pb a {
    color: var(--text);
    text-decoration: none;
}
.pb-done img, .pb-current img {
    background-color: var(--orange);
}
.pb-current {
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    border: solid var(--orange) 5px;
    margin-top: 0px;
}
.pb-line {
    height: 5px;
    width: 200px;
    background-color: var(--blue);
    position: relative;
    top: 34px;
}
.pb-line-done {
    background-color: var(--orange);
}
.pb-line-short {
    width: 190px;
}
.pb-left-margin {
    margin-left: 10px;
}
.pb-right-margin {
    margin-right: 10px;
}

#pb-help {
    padding: 0 25px;
}
#pb-help p {
    font-size: var(--text-S);
    margin: 10px 0;
    text-align: center;
}
#progress-bar-wrapper lord-icon {
    width: 60px;
    height: 60px;
    padding: 0 10px;
}
.tooltip-positioner {
    position: relative;
    width: 0;
    height: 0;
    z-index: 1;
}
.tooltip-popup {
    width: 400px;
    height: auto;
    padding: 30px;
    border: var(--text) 3px solid;
    border-radius: 20px;
    background-color:rgba(32, 48, 71, 0.7);
    backdrop-filter: blur(40px);
    text-align: right;
    opacity: 0;
    display: none;
    transition: opacity 0.5s;
}
.tooltip-popup p {
    font-size: var(--text-S);
    text-align: left;
    margin-top: 0;
}
.tooltip-popup::after {
    content: " ";
    position: absolute;
    top: 50px;
    right: 100%; 
    margin-top: -5px;
    border-width: 30px;
    border-style: solid;
    border-color: transparent var(--text) transparent transparent;
}
.tooltip-popup-right::after {
    top: 40%;
    right: -61px; 
    margin-top: -5px;
    border-color: transparent transparent transparent var(--text);
}
.tooltip-popup-right-top::after {
    top: 50px;
    right: -61px; 
    margin-top: -5px;
    border-color: transparent transparent transparent var(--text);
}
.tooltip-popup-right-bottom::after {
    top: 350px;
    right: -61px; 
    margin-top: -5px;
    border-color: transparent transparent transparent var(--text);
}
.tooltip-popup-left-bottom::after {
    top: 250px;
    right: 100%; 
    margin-top: -5px;
    border-color: transparent var(--text) transparent transparent;
}
.tooltip-popup-left-bottom::after {
    top: 250px;
    right: 100%; 
    margin-top: -5px;
    border-color: transparent var(--text) transparent transparent;
}
.tooltip-popup-fullscreen::after {
    content:none;
}
.tooltip-popup-fullscreen {
    width: 80vw;
    height: 60vh;
    margin: 0 5vw;
    padding: 30px 5vw;
    
}
.tooltip-popup-fullscreen h3 {
    text-align: start;
}
.tooltip-popup lord-icon {
    width: 60px;
    height: 60px;
}
.tooltip-popup span {
    font-size: var(--text-XS);
}

/*** Screening Page ***/
.section {
    border: var(--orange) solid 2px;
    border-radius: 15px;
    padding: 30px;
    margin: 10px;
    flex: 1 1 0;
    align-items: center;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#app img {
    width: 100%;
}
#instruction4 {
    width: auto;
    max-height: 50vh;
}
#elasticity-value {
    margin: 0;
}
#elasticity-unit {
    height: 90px;
    width: 0px;
    display: inline-block;
    position: relative;
    right: 0px;
    bottom: 12px;
    align-items: flex-end;
} 
#elasticity-unit h2 {
    width: 100px;
    text-align: right;
}

probe-toggle {
    width: 100%;
}

#result-bar-container {
    margin-bottom: 30px;
    text-align: left;
    width: 100%;
}
#result-bar {
    height: 30px;
    width: 100%;
    background: linear-gradient(90deg, #14FF00 0%, #FFA800 50%, #FF0000 100%, rgba(217, 217, 217, 0) 100%, #FF000F 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 0;
}
#result-bar-pointer-container {
    position: relative;
    right: 20px;
}
#result-bar-pointer {
    content: " ";
    display: inline-block;
    position: relative;
    top: 20px;
    width: 0px;
    height: 00px;
    left: 0%; /* set this value according to percentage on bar */
    margin-top: -5px;
    border-width: 20px;
    border-style: solid;
    border-color: var(--text) transparent transparent transparent;
}