:root {
    --bg: #203047;
    --blue: #3B6DB2;
    --orange: #EB8432;
    --text: white;
}  

body {
    font-family: sans-serif;
    color: var(--text);
    background-color: var(--bg);
    margin: 0;
    
}

#app {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.fullscreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* h1 {
    font-size: 60px;
} */
h2 {
    /* font-size: 40px; */
    color: var(--orange);
}


.col-left {
    width: 280px;
    align-items: center;
    text-align: center;
}
.align-center {
    text-align: center;
}

button {
    height: 30px;
    width: 80px;
    background-color: var(--blue);
    color: var(--text);
    font-size: 15px;
    border-radius: 15px;
    border-width: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

button:active {
    background-color: var(--text);
    color: var(--blue);
}

.button-hollow {
    background-color: var(--bg);
    border: var(--text) solid 2px;
}

my-keypad button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 800;
    margin: 6px 4px;
}

#input-value {
    height: 35px;
    width: 150px;
    border: 3px solid var(--orange);
    border-radius: 10px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*** Progress Bar ***/

#progress-bar {
    height: 60px;
    display: flex;
    text-align: center; 
}

#progress-bar-wrapper {
    display: flex;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.pb {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.pb-stage {
    width: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}
.pb img {
    /* height: 20px; */
    padding: 10px;
    border-radius: 50%;
    background-color: var(--blue);
    position: relative;
    bottom: 50px;
    /* filter: opacity(0); */
}
.pb p {
    width: 80px;
    position: relative;
    bottom: 50px;
    right: 24px;
}
.pb a {
    color: var(--text);
    text-decoration: none;
}
.pb-done img, .pb-current img {
    background-color: var(--orange);
}
.pb-current {
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    border: solid var(--orange) 5px;
    margin-top: 0px;
}
.pb-line {
    height: 5px;
    width: 70px;
    background-color: var(--blue);
    position: relative;
    top: 22px;
}
.pb-line-done {
    background-color: var(--orange);
}
.pb-line-short {
    width: 60px;
}
.pb-left-margin {
    margin-left: 10px;
}
.pb-right-margin {
    margin-right: 10px;
}
